# Miscellaneous
*.class
*.log
*.pyc
*.swp
.DS_Store
.atom/
.buildlog/
.history
.svn/
migrate_working_dir/

# IntelliJ related
*.iml
*.ipr
*.iws
.idea/

# The .vscode folder contains launch configuration and tasks you configure in
# VS Code which you may wish to be included in version control, so this line
# is commented out by default.
#.vscode/

# Flutter/Dart/Pub related
**/doc/api/
**/ios/Flutter/.last_build_id
.dart_tool/
.flutter-plugins
.flutter-plugins-dependencies
.pub-cache/
.pub/
**/build/
**/shotcounter_zieefaegge_display/build/
**/shotcounter_zieefaegge_display/build/


# Symbolication related
app.*.symbols

# Obfuscation related
app.*.map.json

# Android Studio will place build artifacts here
**/android/app/debug
**/android/app/profile
**/android/app/release

# specific files
shotcounter_zieefaegge_display/assets/server.key
shotcounter_zieefaegge_display/.env
shotcounter_zieefaegge_display/linux/flutter/generated_plugin_registrant.cc
shotcounter_zieefaegge_display/linux/flutter/generated_plugins.cmake
shotcounter_zieefaegge_display/macos/Flutter/GeneratedPluginRegistrant.swift
shotcounter_zieefaegge_display/windows/flutter/generated_plugin_registrant.cc
shotcounter_zieefaegge_display/windows/flutter/generated_plugins.cmake
shotcounter_zieefaegge_display/linux/flutter/generated_plugin_registrant.h
shotcounter_zieefaegge_display/windows/flutter/generated_plugin_registrant.h

shotcounter_zieefaegge_controls/linux/flutter/generated_plugin_registrant.cc
shotcounter_zieefaegge_controls/linux/flutter/generated_plugin_registrant.h
shotcounter_zieefaegge_controls/linux/flutter/generated_plugins.cmake
shotcounter_zieefaegge_controls/macos/Flutter/GeneratedPluginRegistrant.swift
shotcounter_zieefaegge_controls/windows/flutter/generated_plugin_registrant.cc
shotcounter_zieefaegge_controls/windows/flutter/generated_plugin_registrant.h
shotcounter_zieefaegge_controls/windows/flutter/generated_plugins.cmake
