# Miscellaneous
*.class
*.log
*.pyc
*.swp
.DS_Store
.atom/
.buildlog/
.history
.svn/
migrate_working_dir/

# IntelliJ related
*.iml
*.ipr
*.iws
.idea/

# The .vscode folder contains launch configuration and tasks you configure in
# VS Code which you may wish to be included in version control, so this line
# is commented out by default.
#.vscode/

# Flutter/Dart/Pub related
**/doc/api/
**/ios/Flutter/.last_build_id
.dart_tool/
.flutter-plugins
.flutter-plugins-dependencies
.pub-cache/
.pub/
**/build/
**/sauf_o_mat_display_app/build/
**/.env
**/sauf_o_mat_display_app/assets/server.key
**/sauf_o_mat_display_app/build/


# Symbolication related
app.*.symbols

# Obfuscation related
app.*.map.json

# Android Studio will place build artifacts here
**/android/app/debug
**/android/app/profile
**/android/app/release

# specific files
sauf_o_mat_display_app/assets/server.key
sauf_o_mat_display_app/.env
sauf_o_mat_display_app/linux/flutter/generated_plugin_registrant.cc
sauf_o_mat_display_app/linux/flutter/generated_plugins.cmake
sauf_o_mat_display_app/macos/Flutter/GeneratedPluginRegistrant.swift
sauf_o_mat_display_app/windows/flutter/generated_plugin_registrant.cc
sauf_o_mat_display_app/windows/flutter/generated_plugins.cmake
sauf_o_mat_display_app/linux/flutter/generated_plugin_registrant.h
sauf_o_mat_display_app/windows/flutter/generated_plugin_registrant.h

sauf_o_mat_control_app/linux/flutter/generated_plugin_registrant.cc
sauf_o_mat_control_app/linux/flutter/generated_plugin_registrant.h
sauf_o_mat_control_app/linux/flutter/generated_plugins.cmake
sauf_o_mat_control_app/macos/Flutter/GeneratedPluginRegistrant.swift
sauf_o_mat_control_app/windows/flutter/generated_plugin_registrant.cc
sauf_o_mat_control_app/windows/flutter/generated_plugin_registrant.h
sauf_o_mat_control_app/windows/flutter/generated_plugins.cmake
